BasedOnStyle: Google
Language: Cpp
ColumnLimit: 125
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -2